* {
    box-sizing: border-box;
    margin: 0;
}

header {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, rgba(138,88,53,0.9023984593837535) 35%, rgba(197,173,156,1) 68%);
    
}
.header__title {
    font-family: 'Suwannaphum', serif;
    font-size: 111px;
    background-image: url(../images/header_title.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.header__logo {
    display: inline-block;
    position: relative;
    top: -129px;
    left: 211px;
    width: 163px;
    height: 65px;
    background-image: url(../images/images_header_css.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    margin-top: -69px;
    background: linear-gradient(90deg, rgba(75,61,51,0.9023984593837535) 35%, rgba(156,197,193,1) 68%);
}

.header__nav_button {
    width: 173px;
    height: 67px;
    background-color: rgba(86, 86, 156, 0.367);
    border-radius: 5%;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.header__nav_button:hover {
    width: 178px;
    height: 72px;
    box-shadow: 1px black;
    background-color: rgba(249, 175, 15, 0.552);
    color: aliceblue;
}
.header__nav_button:active {
    width: 173px;
    height: 67px;
    box-shadow: 1px black;
    background-color: rgba(100, 143, 216, 0.788);
    color: aliceblue;
}

section {
    font-family: 'Suwannaphum', serif;
    font-size: 20px;
    text-align: center;
}

.section__bold-text {
    font-size: 35px;
    color: rgb(40, 99, 193);
}

main {
    margin-top: 80px;
    height: 3000px;
    background-image: url(../images/background_main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    /* background-position: 0px 280px; */
}

.main__section_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__section_card > div {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    width: 500px;
    background-color: rgba(252, 225, 189, 0.788);
    border: 2px rgb(8, 8, 8);
    border-radius: 10px;
    margin: 30px 44px 0;
    padding: 10px;
}
.main__section_card > div > span {
    font-weight: 600;
}

.main__section_rectangle {
    display: flex;
    flex-direction: column;
    
}

.main__section_rectangle > div {
    width: 550px;
    height: 70px;
    margin: 2px 10px 3px 50px;
    background-image: url(../images/rectangle.webp);
    background-size: 100%;
}
.main__section_rectangle2 {
    background-position: 0px -85px;
}

.main__section_rectangle3 {
    background-position: 0px -160px;
}

.main__section_rectangle4 {
    background-position: 0px -235px;
}

.main__section_rectangle5 {
    background-position: 0px -310px;
}
